.main {
  padding: 10px 20px;
  position: relative;
}

.line {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

.line:not(:first-of-type) {
  margin-left: 4px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading .line:nth-last-child(1) {
  animation: loadingC 0.6s 0.1s linear infinite;
}

.loading .line:nth-last-child(2) {
  animation: loadingC 0.6s 0.2s linear infinite;
}

.loading .line:nth-last-child(3) {
  animation: loadingC 0.6s 0.3s linear infinite;
}

@keyframes loadingC {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0, 0);
  }
}
